<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<th:block th:insert="common/meta::meta"/>
	<th:block th:insert="common/css::css"/>
	<th:block th:insert="common/js::js"/>
	<title layout:title-pattern="$CONTENT_TITLE : $LAYOUT_TITLE">공지사항</title>
	<script>
		$(function() {
			var uri = window.location.pathname.replace(/detail|add|modify/,'index').replace(/\/svc/, '');

			var $menuURI = $(".menu-content a[href='" + uri + "']");
			var $menuItems = $(".menu-content li");

			$menuItems.removeClass("active");
			$menuURI.parent().addClass("active").parents("li:first").addClass("open");

		});
	</script>
</head>
<body class="vertical-layout vertical-content-menu 2-columns menu-expanded fixed-navbar" data-open="click" data-menu="vertical-content-menu" data-col="2-columns">
	<nav th:replace="common/nav::nav"></nav>
	<div class="app-content content">
		<div class="content-wrapper">
			<div th:replace="common/left::left"></div>
			<div class="content-body">
				<th:block layout:fragment="content"/>
	 		</div>
		</div>
	</div>
	<footer th:replace="common/footer::footer"></footer>
	<script type="text/javascript" th:src="@{/assets/js/app-menu.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/app.js}"></script>
	<script type="text/javascript">
		$(function() {
			$.datetimepicker.setLocale('ko');
		});
	</script>
</body>
</html>